body {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background: linear-gradient(rgb(249, 252, 254), rgb(115, 141, 179));
    font-size: 24px;
}
a {
    text-decoration: none;
}

.total-container {
    position: relative;
    text-align: center;
    width: 800px;
    background: rgb(255, 255, 255);
    margin: auto;
}

.portfolio-heading h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    margin: 0;
}
.portfolio-heading p {
    margin: 0;
}
.portfolio-heading {
    position: relative;
    padding-top: 100px;
    text-align: center;
    background-image: url('../images/flag.jpg');
    background-size: 100% 100%;
    min-height: 300px;
    color: white;
}

.pic {
    position: relative;
    bottom: 80px;
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    box-shadow: 1px 1px 5px 10px rgb(164, 180, 208);
}
.pic-container {
    padding-bottom: 50px;
}
.pic-container p {
    margin: 0;
    padding: 5px;
    font-size: 30px;    
}

.portfolio-section {
    background: linear-gradient(rgb(249, 253, 255),rgb(224, 232, 235));
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    min-height: 500px;
    font-size: 20px;
}

@media screen and (max-width: 820px) {
    .total-container {
        width: 600px;
    }
    .portfolio-heading h1 {
        font-size: 75px;
    }
    .portfolio-heading {
        padding-top: 50px;
    }
 }

@media screen and (max-width: 700px) {
   .total-container {
       width: 500px;
   }
}
@media screen and (max-width: 620px) {
    .pic {
        bottom:40px;
        width: 250px;
        height: 250px;
    }
 }
 @media screen and (max-width: 530px) {
    .total-container {
        width: 350px;
    }
 }