ul {
    list-style: none;
}
.skills-section {
    display: flex;
    justify-content: space-evenly;    
    margin: 0;
    width: 100%;
    margin: auto;
}
.skills-section ul {
    padding-left:0;
    font-size: 60px;
    margin: 0;
}
.redux {
    background: url('http://res.cloudinary.com/dcf4iyb6t/image/upload/v1525989879/Portfolio%20Website/redux_logo2.png');
    width: 78px;
    height: 78px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-size: 100% 100%;
}
.skills-section ul li {
    padding-left:0;
}
.icon {
    border-bottom: none;
    font-size: 40px;
    color: rgb(187, 67, 67);    
}

@media screen and (max-width: 355px) {
    .skills-section ul {
        font-size: 42px;
    }
    .redux {
        width: 58px;
        height: 58px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
}
.heading-background-image {
    background-image: url("");
}
.single-project-container {
width: 90%;
margin: auto;
border-top: 5px solid black;
border-bottom: 2px solid black;
padding-top:20px;
padding-bottom:20px;

}
.project-description {
    text-align: center;
    color: black;
}
.project-link img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 40%;
    height: 550px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px gray;
}
.project-link img:hover {
    background: #ffffff8f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px #03e9f4,
                0 0 20px #03e9f4,
                0 0 30px #03e9f4,
                0 0 70px #03e9f4;
}
.project-title {
    text-align: center;
}
@media screen and (max-width: 1300px) {
    .project-link img {

        width: 80%;
        height: 350px;

    }
}