ul {
    list-style: none;
}
.skills-section {
    display: flex;
    text-align: center;
    margin: 0;
    width: 200px;
    margin: auto;
}
.skills-section ul {
    padding-left:0;
    font-size: 60px;
    margin: 0;
}
.skills-section ul li {
    padding-left:0;
}
.icon {
    border-bottom: none;
    font-size: 30px;
    color: rgb(201, 128, 128);    
}

@media screen and (max-width: 355px) {
    .skills-section ul {
        font-size: 45px;
    }
}