ul {
    list-style: none;
}
.skills-section {
    display: flex;
    justify-content: space-evenly;    
    margin: 0;
    width: 100%;
    margin: auto;
}
.skills-section ul {
    padding-left:0;
    font-size: 60px;
    margin: 0;
}
.redux {
    background: url('http://res.cloudinary.com/dcf4iyb6t/image/upload/v1525989879/Portfolio%20Website/redux_logo2.png');
    width: 78px;
    height: 78px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-size: 100% 100%;
}
.skills-section ul li {
    padding-left:0;
}
.icon {
    border-bottom: none;
    font-size: 40px;
    color: rgb(187, 67, 67);    
}

@media screen and (max-width: 355px) {
    .skills-section ul {
        font-size: 42px;
    }
    .redux {
        width: 58px;
        height: 58px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
}
.heading-background-image {
    background: radial-gradient(white, rgb(230, 255, 254));
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.single-project-container {
width: 90%;
margin: auto;
border-top: 5px solid black;
border-bottom: 2px solid black;
padding-top:20px;
padding-bottom:20px;

}
.project-description {
    text-align: center;
    color: black;
}
.project-link {
    text-align: center;
    display: block;
}
.single-project-container img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 700px;
    height: 400px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px gray;
}

.project-title {
    text-align: center;
    margin: 0px;
}
.name {
    color: #71a8ff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glowing effect */
}

@media screen and (max-width: 1300px) {
    .single-project-container img {

        width: 70%;
        height: 320px;

    }
}

@media screen and (max-width: 740px) {
    .single-project-container img {

        width: 90%;
        height: 240px;

    }
}
